# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import pandas as pd
import numpy as np
import requests

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [2]:
a = [3.14, False, 'x', None]
type(a[2:2])
a[1:2]

# a[2:2] = [1,2,3]

[False]

In [3]:
SP_ticker_list = pd.read_csv('sp_500_stocks.csv',header = 0)
SP_ticker_list
# type(SP_ticker_list)

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [4]:
from secrets import IEX_CLOUD_API_TOKEN
IEX_CLOUD_API_TOKEN

'sk_620709eb14b54bb981e7f195a9d90ee7'

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [7]:
type(SP_ticker_list)
SP_ticker_list

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [6]:
symbol = 'AAPL'
api_url = f"https://cloud.iexapis.com/stable/stock/{symbol}/quote/latestPrice?token={IEX_CLOUD_API_TOKEN}"
api_url2 = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
api_url3 = f"https://sandbox.iexapis.com/stable/stock/{symbol}/quote/latestPrice?token={IEX_CLOUD_API_TOKEN}"
api_url4 = f"https://sandbox.iexapis.com/stable/stock/{symbol}/quote/latestPrice"
print(api_url4)
PARA = {'token':IEX_CLOUD_API_TOKEN}
data_j = requests.get(api_url4, params = PARA)
print(data_j.status_code)
data_p = requests.get(api_url4, params = PARA).json()
data_j = requests.get(api_url4, params = PARA)
print(data_p)
print("data_p = requests.get(api_url4, params = PARA):",requests.get(api_url4, params = PARA).text)
# 

d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df = pd.DataFrame(data=d, dtype=np.int8)
d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
pd.DataFrame(data=d, index=[0, 1, 2, 3])
d
pd.Series([2, 3], index=[2, 3])
pd.Series([2, 3], index=[1, 2])
# batch requests
symbol_batch = 'AAPL,fb'
PARA_batch = {'token':IEX_CLOUD_API_TOKEN,
              'symbols':symbol_batch,
              'types':'quote'}
api_batch = f"https://sandbox.iexapis.com/v1/stock/market/batch"
data_batch = requests.get(api_batch,params = PARA_batch).json()
print("data_batch", data_batch)

https://sandbox.iexapis.com/stable/stock/AAPL/quote/latestPrice
403

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
def chunks(lst,n):
    for i in range(0,len(lst),n):
        yield lst[i:i+n]

In [ ]:
type(SP_ticker_list)
odd = [x for x in range(20) if x % 2 == 1]
odd

myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [ ]:
data_eg = pd.DataFrame()
series_a = pd.Series({'x':1,'y':2}, name = 'a')
data_eg = data_eg.append(series_a)
series_b = pd.Series({'x':1,'y':2}, name = 'b')
data_eg = data_eg.append(series_b, ignore_index = False)
print(data_eg)

     x    y
a  1.0  2.0
b  1.0  2.0

In [ ]:
type(SP_ticker_list)
SP_ticker_list
type(SP_ticker_list['Ticker'])
SP_ticker_list['Ticker']
symbol_groups = list(chunks(SP_ticker_list['Ticker'],100))
symbol_groups[0]

symbol_strings = []
for i in range(len(symbol_groups)):
    symbol_strings.append(",".join(symbol_groups[i]))

my_columns = ['Ticker','Price','Market Cap','Number of shares to buy']
final_dataframe = pd.DataFrame(columns=my_columns)

# batch requests test
for i in range(1):
    symbol_batch = symbol_strings[i]
    PARA_batch = {'token':IEX_CLOUD_API_TOKEN,
              'symbols':symbol_batch,
              'types':'quote'}
    api_batch = f"https://sandbox.iexapis.com/v1/stock/market/batch"
    data_batch = requests.get(api_batch,params = PARA_batch).json()
    for symbol in symbol_batch.split(","):
        print(pd.Series([symbol,data_batch[symbol]['quote']['latestPrice'],
                        data_batch[symbol]['quote']['marketCap'],
                        'N/A']))
        print(pd.Series([symbol,data_batch[symbol]['quote']['latestPrice'],
                        data_batch[symbol]['quote']['marketCap'],
                        'N/A'],index = my_columns))
        list_1 = [symbol,data_batch[symbol]['quote']['latestPrice'],
                        data_batch[symbol]['quote']['marketCap'],
                        'N/A']
        print("list_1",list_1)
        print(type(list_1))
        final_dataframe = final_dataframe.append([symbol,
                                          data_batch[symbol]['quote']['latestPrice'],
                                          data_batch[symbol]['quote']['marketCap'],
                                          'N/A'],ignore_index=True)
        

final_dataframe

0              A
1         158.73
2    48120787249
3            N/A
dtype: object
Ticker                               A
Price                           158.73
Market Cap                 48120787249
Number of shares to buy            N/A
dtype: object
list_1 ['A', 158.73, 48120787249, 'N/A']
<class 'list'>
0           AAL
1        14.496
2    9419140016
3           N/A
dtype: object
Ticker                            AAL
Price                          14.496
Market Cap                 9419140016
Number of shares to buy           N/A
dtype: object
list_1 ['AAL', 14.496, 9419140016, 'N/A']
<class 'list'>
0           AAP
1        155.81
2    9383945029
3           N/A
dtype: object
Ticker                            AAP
Price                          155.81
Market Cap                 9383945029
Number of shares to buy           N/A
dtype: object
list_1 ['AAP', 155.81, 9383945029, 'N/A']
<class 'list'>
0             AAPL
1           153.42
2    2405098786817
3              N/A
dtype: object
Ticker                              AAPL
Price                             153.42
Market Cap                 2405098786817
Number of shares to buy              N/A
dtype: object
list_1 ['AAPL', 153.42, 2405098786817, 'N/A']
<class 'list'>
0            ABBV
1           160.6
2    284074296318
3             N/A
dtype: object
Ticker                             ABBV
Price                             160.6
Market Cap                 284074296318
Number of shares to buy             N/A
dtype: object
list_1 ['ABBV', 160.6, 284074296318, 'N/A']
<class 'list'>
0            ABC
1          168.4
2    34488579220
3            N/A
dtype: object
Ticker                             ABC
Price                            168.4
Market Cap                 34488579220
Number of shares to buy            N/A
dtype: object
list_1 ['ABC', 168.4, 34488579220, 'N/A']
<class 'list'>
0           ABMD
1         387.56
2    17471427477
3            N/A
dtype: object
Ticker                            ABMD
Price                           387.56
Market Cap                 17471427477
Number of shares to buy            N/A
dtype: object
list_1 ['ABMD', 387.56, 17471427477, 'N/A']
<class 'list'>
0             ABT
1          108.31
2    192644032472
3             N/A
dtype: object
Ticker                              ABT
Price                            108.31
Market Cap                 192644032472
Number of shares to buy             N/A
dtype: object
list_1 ['ABT', 108.31, 192644032472, 'N/A']
<class 'list'>
0             ACN
1          306.65
2    203718504148
3             N/A
dtype: object
Ticker                              ACN
Price                            306.65
Market Cap                 203718504148
Number of shares to buy             N/A
dtype: object
list_1 ['ACN', 306.65, 203718504148, 'N/A']
<class 'list'>
0            ADBE
1           349.7
2    160849217204
3             N/A
dtype: object
Ticker                             ADBE
Price                             349.7
Market Cap                 160849217204
Number of shares to buy             N/A
dtype: object
list_1 ['ADBE', 349.7, 160849217204, 'N/A']
<class 'list'>
0            ADI
1         170.63
2    87133231490
3            N/A
dtype: object
Ticker                             ADI
Price                           170.63
Market Cap                 87133231490
Number of shares to buy            N/A
dtype: object
list_1 ['ADI', 170.63, 87133231490, 'N/A']
<class 'list'>
0            ADM
1          98.55
2    53192503618
3            N/A
dtype: object
Ticker                             ADM
Price                            98.55
Market Cap                 53192503618
Number of shares to buy            N/A
dtype: object
list_1 ['ADM', 98.55, 53192503618, 'N/A']
<class 'list'>
0             ADP
1          274.68
2    109743061564
3             N/A
dtype: object
Ticker                              ADP
Price                            274.68
Market Cap                 109743061564
Number of shares to buy             N/A
dtype: object
list_1 ['ADP', 274.68, 109743061564, 'N/A']
<class 'list'>
0           ADSK
1         204.69
2    43010907876
3            N/A
dtype: object
Ticker                            ADSK
Price                           204.69
Market Cap                 43010907876
Number of shares to buy            N/A
dtype: object
list_1 ['ADSK', 204.69, 43010907876, 'N/A']
<class 'list'>
0            AEE
1          89.18
2    23342125346
3            N/A
dtype: object
Ticker                             AEE
Price                            89.18
Market Cap                 23342125346
Number of shares to buy            N/A
dtype: object
list_1 ['AEE', 89.18, 23342125346, 'N/A']
<class 'list'>
0            AEP
1          95.18
2    49878832769
3            N/A
dtype: object
Ticker                             AEP
Price                            95.18
Market Cap                 49878832769
Number of shares to buy            N/A
dtype: object
list_1 ['AEP', 95.18, 49878832769, 'N/A']
<class 'list'>
0            AES
1          29.19
2    19387986011
3            N/A
dtype: object
Ticker                             AES
Price                            29.19
Market Cap                 19387986011
Number of shares to buy            N/A
dtype: object
list_1 ['AES', 29.19, 19387986011, 'N/A']
<class 'list'>
0            AFL
1             75
2    45910439366
3            N/A
dtype: object
Ticker                             AFL
Price                               75
Market Cap                 45910439366
Number of shares to buy            N/A
dtype: object
list_1 ['AFL', 75, 45910439366, 'N/A']
<class 'list'>
0            AIG
1          63.12
2    47292016551
3            N/A
dtype: object
Ticker                             AIG
Price                            63.12
Market Cap                 47292016551
Number of shares to buy            N/A
dtype: object
list_1 ['AIG', 63.12, 47292016551, 'N/A']
<class 'list'>
0           AIV
1          8.43
2    1277962719
3           N/A
dtype: object
Ticker                            AIV
Price                            8.43
Market Cap                 1277962719
Number of shares to buy           N/A
dtype: object
list_1 ['AIV', 8.43, 1277962719, 'N/A']
<class 'list'>
0           AIZ
1        133.26
2    6767185703
3           N/A
dtype: object
Ticker                            AIZ
Price                          133.26
Market Cap                 6767185703
Number of shares to buy           N/A
dtype: object
list_1 ['AIZ', 133.26, 6767185703, 'N/A']
<class 'list'>
0            AJG
1         204.68
2    42057342402
3            N/A
dtype: object
Ticker                             AJG
Price                           204.68
Market Cap                 42057342402
Number of shares to buy            N/A
dtype: object
list_1 ['AJG', 204.68, 42057342402, 'N/A']
<class 'list'>
0           AKAM
1          96.37
2    14484315575
3            N/A
dtype: object
Ticker                            AKAM
Price                            96.37
Market Cap                 14484315575
Number of shares to buy            N/A
dtype: object
list_1 ['AKAM', 96.37, 14484315575, 'N/A']
<class 'list'>
0            ALB
1            291
2    34711399487
3            N/A
dtype: object
Ticker                             ALB
Price                              291
Market Cap                 34711399487
Number of shares to buy            N/A
dtype: object
list_1 ['ALB', 291, 34711399487, 'N/A']
<class 'list'>
0           ALGN
1         197.31
2    16035476554
3            N/A
dtype: object
Ticker                            ALGN
Price                           197.31
Market Cap                 16035476554
Number of shares to buy            N/A
dtype: object
list_1 ['ALGN', 197.31, 16035476554, 'N/A']
<class 'list'>
0           ALK
1         47.64
2    5971986231
3           N/A
dtype: object
Ticker                            ALK
Price                           47.64
Market Cap                 5971986231
Number of shares to buy           N/A
dtype: object
list_1 ['ALK', 47.64, 5971986231, 'N/A']
<class 'list'>
0            ALL
1         135.24
2    37268178042
3            N/A
dtype: object
Ticker                             ALL
Price                           135.24
Market Cap                 37268178042
Number of shares to buy            N/A
dtype: object
list_1 ['ALL', 135.24, 37268178042, 'N/A']
<class 'list'>
0           ALLE
1         114.77
2    10248720558
3            N/A
dtype: object
Ticker                            ALLE
Price                           114.77
Market Cap                 10248720558
Number of shares to buy            N/A
dtype: object
list_1 ['ALLE', 114.77, 10248720558, 'N/A']
<class 'list'>
0           ALXN
1            190
2    41201133854
3            N/A
dtype: object
Ticker                            ALXN
Price                              190
Market Cap                 41201133854
Number of shares to buy            N/A
dtype: object
list_1 ['ALXN', 190, 41201133854, 'N/A']
<class 'list'>
0           AMAT
1          109.2
2    93372455589
3            N/A
dtype: object
Ticker                            AMAT
Price                            109.2
Market Cap                 93372455589
Number of shares to buy            N/A
dtype: object
list_1 ['AMAT', 109.2, 93372455589, 'N/A']
<class 'list'>
0           AMCR
1          12.53
2    18248876027
3            N/A
dtype: object
Ticker                            AMCR
Price                            12.53
Market Cap                 18248876027
Number of shares to buy            N/A
dtype: object
list_1 ['AMCR', 12.53, 18248876027, 'N/A']
<class 'list'>
0             AMD
1           79.65
2    127314060009
3             N/A
dtype: object
Ticker                              AMD
Price                             79.65
Market Cap                 127314060009
Number of shares to buy             N/A
dtype: object
list_1 ['AMD', 79.65, 127314060009, 'N/A']
<class 'list'>
0            AME
1         148.03
2    34177285922
3            N/A
dtype: object
Ticker                             AME
Price                           148.03
Market Cap                 34177285922
Number of shares to buy            N/A
dtype: object
list_1 ['AME', 148.03, 34177285922, 'N/A']
<class 'list'>
0            AMGN
1          296.92
2    151512385360
3             N/A
dtype: object
Ticker                             AMGN
Price                            296.92
Market Cap                 151512385360
Number of shares to buy             N/A
dtype: object
list_1 ['AMGN', 296.92, 151512385360, 'N/A']
<class 'list'>
0            AMP
1          338.6
2    36363934509
3            N/A
dtype: object
Ticker                             AMP
Price                            338.6
Market Cap                 36363934509
Number of shares to buy            N/A
dtype: object
list_1 ['AMP', 338.6, 36363934509, 'N/A']
<class 'list'>
0             AMT
1          218.98
2    103841544573
3             N/A
dtype: object
Ticker                              AMT
Price                            218.98
Market Cap                 103841544573
Number of shares to buy             N/A
dtype: object
list_1 ['AMT', 218.98, 103841544573, 'N/A']
<class 'list'>
0            AMZN
1           96.98
2    985733722060
3             N/A
dtype: object
Ticker                             AMZN
Price                             96.98
Market Cap                 985733722060
Number of shares to buy             N/A
dtype: object
list_1 ['AMZN', 96.98, 985733722060, 'N/A']
<class 'list'>
0           ANET
1         143.89
2    42849165545
3            N/A
dtype: object
Ticker                            ANET
Price                           143.89
Market Cap                 42849165545
Number of shares to buy            N/A
dtype: object
list_1 ['ANET', 143.89, 42849165545, 'N/A']
<class 'list'>
0           ANSS
1         250.08
2    21679134099
3            N/A
dtype: object
Ticker                            ANSS
Price                           250.08
Market Cap                 21679134099
Number of shares to buy            N/A
dtype: object
list_1 ['ANSS', 250.08, 21679134099, 'N/A']
<class 'list'>
0            ANTM
1          485.74
2    116778244816
3             N/A
dtype: object
Ticker                             ANTM
Price                            485.74
Market Cap                 116778244816
Number of shares to buy             N/A
dtype: object
list_1 ['ANTM', 485.74, 116778244816, 'N/A']
<class 'list'>
0            AON
1          315.1
2    63246615563
3            N/A
dtype: object
Ticker                             AON
Price                            315.1
Market Cap                 63246615563
Number of shares to buy            N/A
dtype: object
list_1 ['AON', 315.1, 63246615563, 'N/A']
<class 'list'>
0           AOS
1          62.8
2    9474842142
3           N/A
dtype: object
Ticker                            AOS
Price                            62.8
Market Cap                 9474842142
Number of shares to buy           N/A
dtype: object
list_1 ['AOS', 62.8, 9474842142, 'N/A']
<class 'list'>
0            APA
1           47.2
2    15628597376
3            N/A
dtype: object
Ticker                             APA
Price                             47.2
Market Cap                 15628597376
Number of shares to buy            N/A
dtype: object
list_1 ['APA', 47.2, 15628597376, 'N/A']
<class 'list'>
0            APD
1         311.53
2    70578074430
3            N/A
dtype: object
Ticker                             APD
Price                           311.53
Market Cap                 70578074430
Number of shares to buy            N/A
dtype: object
list_1 ['APD', 311.53, 70578074430, 'N/A']
<class 'list'>
0            APH
1           82.8
2    48329167010
3            N/A
dtype: object
Ticker                             APH
Price                             82.8
Market Cap                 48329167010
Number of shares to buy            N/A
dtype: object
list_1 ['APH', 82.8, 48329167010, 'N/A']
<class 'list'>
0           APTV
1         106.92
2    30262165498
3            N/A
dtype: object
Ticker                            APTV
Price                           106.92
Market Cap                 30262165498
Number of shares to buy            N/A
dtype: object
list_1 ['APTV', 106.92, 30262165498, 'N/A']
<class 'list'>
0            ARE
1         156.21
2    25503113101
3            N/A
dtype: object
Ticker                             ARE
Price                           156.21
Market Cap                 25503113101
Number of shares to buy            N/A
dtype: object
list_1 ['ARE', 156.21, 25503113101, 'N/A']
<class 'list'>
0            ATO
1         122.25
2    17517313764
3            N/A
dtype: object
Ticker                             ATO
Price                           122.25
Market Cap                 17517313764
Number of shares to buy            N/A
dtype: object
list_1 ['ATO', 122.25, 17517313764, 'N/A']
<class 'list'>
0           ATVI
1           77.8
2    61168101192
3            N/A
dtype: object
Ticker                            ATVI
Price                             77.8
Market Cap                 61168101192
Number of shares to buy            N/A
dtype: object
list_1 ['ATVI', 77.8, 61168101192, 'N/A']
<class 'list'>
0            AVB
1         175.47
2    23982924559
3            N/A
dtype: object
Ticker                             AVB
Price                           175.47
Market Cap                 23982924559
Number of shares to buy            N/A
dtype: object
list_1 ['AVB', 175.47, 23982924559, 'N/A']
<class 'list'>
0            AVGO
1           546.2
2    225006248017
3             N/A
dtype: object
Ticker                             AVGO
Price                             546.2
Market Cap                 225006248017
Number of shares to buy             N/A
dtype: object
list_1 ['AVGO', 546.2, 225006248017, 'N/A']
<class 'list'>
0            AVY
1          197.8
2    16244097283
3            N/A
dtype: object
Ticker                             AVY
Price                            197.8
Market Cap                 16244097283
Number of shares to buy            N/A
dtype: object
list_1 ['AVY', 197.8, 16244097283, 'N/A']
<class 'list'>
0            AWK
1         157.82
2    28849832254
3            N/A
dtype: object
Ticker                             AWK
Price                           157.82
Market Cap                 28849832254
Number of shares to buy            N/A
dtype: object
list_1 ['AWK', 157.82, 28849832254, 'N/A']
<class 'list'>
0             AXP
1          157.21
2    115608963345
3             N/A
dtype: object
Ticker                              AXP
Price                            157.21
Market Cap                 115608963345
Number of shares to buy             N/A
dtype: object
list_1 ['AXP', 157.21, 115608963345, 'N/A']
<class 'list'>
0            AZO
1         2548.5
2    48164963780
3            N/A
dtype: object
Ticker                             AZO
Price                           2548.5
Market Cap                 48164963780
Number of shares to buy            N/A
dtype: object
list_1 ['AZO', 2548.5, 48164963780, 'N/A']
<class 'list'>
0              BA
1          176.65
2    104380615477
3             N/A
dtype: object
Ticker                               BA
Price                            176.65
Market Cap                 104380615477
Number of shares to buy             N/A
dtype: object
list_1 ['BA', 176.65, 104380615477, 'N/A']
<class 'list'>
0             BAC
1            38.8
2    316321621581
3             N/A
dtype: object
Ticker                              BAC
Price                              38.8
Market Cap                 316321621581
Number of shares to buy             N/A
dtype: object
list_1 ['BAC', 38.8, 316321621581, 'N/A']
<class 'list'>
0            BAX
1           58.9
2    28884526254
3            N/A
dtype: object
Ticker                             BAX
Price                             58.9
Market Cap                 28884526254
Number of shares to buy            N/A
dtype: object
list_1 ['BAX', 58.9, 28884526254, 'N/A']
<class 'list'>
0            BBY
1          83.65
2    18671857212
3            N/A
dtype: object
Ticker                             BBY
Price                            83.65
Market Cap                 18671857212
Number of shares to buy            N/A
dtype: object
list_1 ['BBY', 83.65, 18671857212, 'N/A']
<class 'list'>
0            BDX
1         242.89
2    69150946096
3            N/A
dtype: object
Ticker                             BDX
Price                           242.89
Market Cap                 69150946096
Number of shares to buy            N/A
dtype: object
list_1 ['BDX', 242.89, 69150946096, 'N/A']
<class 'list'>
0            BEN
1          27.64
2    13301117553
3            N/A
dtype: object
Ticker                             BEN
Price                            27.64
Market Cap                 13301117553
Number of shares to buy            N/A
dtype: object
list_1 ['BEN', 27.64, 13301117553, 'N/A']
<class 'list'>
0           BF.B
1          75.14
2    34850555731
3            N/A
dtype: object
Ticker                            BF.B
Price                            75.14
Market Cap                 34850555731
Number of shares to buy            N/A
dtype: object
list_1 ['BF.B', 75.14, 34850555731, 'N/A']
<class 'list'>
0           BIIB
1         316.37
2    44968966803
3            N/A
dtype: object
Ticker                            BIIB
Price                           316.37
Market Cap                 44968966803
Number of shares to buy            N/A
dtype: object
list_1 ['BIIB', 316.37, 44968966803, 'N/A']
<class 'list'>
0            BIO
1         405.68
2    12558434895
3            N/A
dtype: object
Ticker                             BIO
Price                           405.68
Market Cap                 12558434895
Number of shares to buy            N/A
dtype: object
list_1 ['BIO', 405.68, 12558434895, 'N/A']
<class 'list'>
0             BK
1          47.17
2    38528753698
3            N/A
dtype: object

                0 Market Cap Number of shares to buy Price Ticker
0               A        NaN                     NaN   NaN    NaN
1          158.73        NaN                     NaN   NaN    NaN
2     48120787249        NaN                     NaN   NaN    NaN
3             N/A        NaN                     NaN   NaN    NaN
4             AAL        NaN                     NaN   NaN    NaN
..            ...        ...                     ...   ...    ...
395           N/A        NaN                     NaN   NaN    NaN
396         CMCSA        NaN                     NaN   NaN    NaN
397         36.49        NaN                     NaN   NaN    NaN
398  158510363815        NaN                     NaN   NaN    NaN
399           N/A        NaN                     NaN   NaN    NaN

[400 rows x 5 columns]

In [ ]:
# batch requests
for i in range(len(symbol_strings)):
    symbol_batch = symbol_strings[i]
    PARA_batch = {'token':IEX_CLOUD_API_TOKEN,
              'symbols':symbol_batch,
              'types':'quote'}
    api_batch = f"https://sandbox.iexapis.com/v1/stock/market/batch"
    data_batch = requests.get(api_batch,params = PARA_batch).json()
    for symbol in symbol_batch.split(","):
        final_dataframe.append(data_batch[symbol]['quote']['latestPrice'])
        
    
data_batch

In [ ]:

r = requests.get('https://www.dataquest.io/')
print(r)
print(type(r))
url = 'http://httpbin.org/json'
r = requests.get(url)
print('Response Code:', r.status_code)
print('Response Headers:\n', r.headers)
print('Response Content:\n',r.text)
print(r.headers['Content-Type'])
print(r.content)
url = 'http://httpbin.org/get'
payload = {
    'website':'dataquest.io',
    'courses':['Python','SQL']
    }
r = requests.get(url, params=payload)
data_r1 = requests.get(url, params=payload).json()
print("data_r1:", data_r1)
# print('Response Content:\n',r.text)
# print(r.url)
data_r = requests.get(r.url).json()
data_r

<Response [200]>
<class 'requests.models.Response'>
Response Code: 200
Response Headers:
 {'Date': 'Sun, 23 Oct 2022 01:45:37 GMT', 'Content-Type': 'application/json', 'Content-Length': '429', 'Connection': 'keep-alive', 'Server': 'gunicorn/19.9.0', 'Access-Control-Allow-Origin': '*', 'Access-Control-Allow-Credentials': 'true'}
Response Content:
 {
  "slideshow": {
    "author": "Yours Truly",
    "date": "date of publication",
    "slides": [
      {
        "title": "Wake up to WonderWidgets!",
        "type": "all"
      },
      {
        "items": [
          "Why <em>WonderWidgets</em> are great",
          "Who <em>buys</em> WonderWidgets"
        ],
        "title": "Overview",
        "type": "all"
      }
    ],
    "title": "Sample Slide Show"
  }
}

application/json
b'{\n  "slideshow": {\n    "author": "Yours Truly", \n    "date": "date of publication", \n    "slides": [\n      {\n        "title": "Wake up to WonderWidgets!", \n        "type": "all"\n      }, \n      {\n        "items": [\n          "Why <em>WonderWidgets</em> are great", \n          "Who <em>buys</em> WonderWidgets"\n        ], \n        "title": "Overview", \n        "type": "all"\n      }\n    ], \n    "title": "Sample Slide Show"\n  }\n}\n'
data_r1: {'args': {'courses': ['Python', 'SQL'], 'website': 'dataquest.io'}, 'headers': {'Accept': '*/*', 'Accept-Encoding': 'gzip, deflate', 'Host': 'httpbin.org', 'User-Agent': 'python-requests/2.25.1', 'X-Amzn-Trace-Id': 'Root=1-63549cc2-00f2513704b4164c32c195eb'}, 'origin': '58.153.181.18', 'url': 'http://httpbin.org/get?website=dataquest.io&courses=Python&courses=SQL'}

{'args': {'courses': ['Python', 'SQL'], 'website': 'dataquest.io'},
 'headers': {'Accept': '*/*',
  'Accept-Encoding': 'gzip, deflate',
  'Host': 'httpbin.org',
  'User-Agent': 'python-requests/2.25.1',
  'X-Amzn-Trace-Id': 'Root=1-63549cc2-7c4ac73c29a3b74673064b8d'},
 'origin': '58.153.181.18',
 'url': 'http://httpbin.org/get?website=dataquest.io&courses=Python&courses=SQL'}

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [ ]:

symbol_list = ""

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

## Saving Our Excel Output

Saving our Excel file is very easy: